{{~#* inline "cmdReload"~}}{{_ 'Reload'}}{{~/inline~}}
{{~#* inline "cmdNew"~}}{{_ 'Of Type...'}}{{~/inline~}}
{{~#* inline "cmdNewContainer"~}}{{_ 'Container'}}{{~/inline~}}
{{~#* inline "cmdNewFile"~}}{{_ 'File'}}{{~/inline~}}
{{~#* inline "cmdNewType"~}}{{_ 'Type'}}{{~/inline~}}
{{~#* inline "cmdRename"~}}{{_ 'Rename'}}{{~/inline~}}
{{~#* inline "cmdCut"~}}{{_ 'Cut'}}{{~/inline~}}
{{~#* inline "cmdCopy"~}}{{_ 'Copy'}}{{~/inline~}}
{{~#* inline "cmdPaste"~}}{{_ 'Paste'}}{{~/inline~}}
{{~#* inline "cmdPasteLink"~}}{{_ 'Paste Link'}}{{~/inline~}}
{{~#* inline "cmdClearCbrd"~}}{{_ 'Clear Clipboard'}}{{~/inline~}}
{{~#* inline "cmdDelete"~}}{{_ 'Delete'}}{{~/inline~}}
{{~#* inline "cmdSecurity"~}}{{_ 'Security'}}{{~/inline~}}
<li><button id="{{id}}" class="dropdown-item" type="button"><span class="{{icon}}">{{{iconText}}}</span> {{> (concat id '')}}</button></li>