<div id="silo-lang" class="silo-auth btn-toolbar flex-nowrap col-4 d-none" aria-hidden="true">
	<label class="d-none" for="silo-lang-sel">{{_ 'Content Language'}}</label>
	<select id="silo-lang-sel" class="form-select d-inline-flex" title="{{_ 'Content Language'}}">
		<option value="en">{{_ 'English (en)'}}</option>
	</select>
	<div id="silo-lang-commands" class="btn-group ms-2 d-none" role="group" aria-label="{{_ 'Manage languages'}}" aria-hidden="true">
		<button id="cmdAddLang" type="button" class="btn btn-outline-success" title="{{_ 'Add Language'}}"><span class="bi-plus"></span></button>
		<button id="cmdDeleteLang" type="button" class="btn btn-outline-danger" title="{{_ 'Delete Selected Language'}}" disabled><span class="bi-x"></span></button>
	</div>
</div>