{{#cond locale '&&' locales.length}}
{{! language labels tranlslations, all must occur verbarim for PO to update}}
{{#* inline "lang-de"}}{{_ 'Deutch (de)'}}{{/inline}}
{{#* inline "lang-en"}}{{_ 'English (en)'}}{{/inline}}
<div class="btn-group dropend">
	<button title="{{_ 'UI Language'}}: {{> (concat 'lang-' locale)}}" class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{locale}}</button>
	<ul class="dropdown-menu">
		{{#each locales}}
		{{#cond . '!=' ../locale}}
		<li>
			<a title="{{_ 'Switch Language'}}" class="locale-link dropdown-item" data-locale="{{.}}" href="{{#cond . '==' ../defaultLocale}}/{{else}}/index.{{.}}.html{{/cond}}">{{> (concat 'lang-' . )}}</a>
		</li>
		{{/cond}}
		{{/each}}
	</ul>
</div>
{{/cond}}