{{#> partials/_DialogModal dlgScope='login-dlg' dlgStatic='1' dlgCenter='1'}}
{{> partials/_DialogModalHeaderDyn dlgScope='login-dlg'}}
<form class="modal-body needs-validation" action="#" onsubmit="return false;" novalidate>
	<div class="mb-3">
		<div>
			<label class="form-label text-end" for="login-dlg-txt-user">{{i18n.lblUser}}</label>
			<input id="login-dlg-txt-user" type="text" class="form-control" aria-describedby="login-dlg-txt-user-fb" placeholder="{{i18n.phUser}}" required>
			<div id="login-dlg-txt-user-fb" class="invalid-feedback">
				{{i18n.fbUser}}
			</div>
		</div>
		<div class="mt-2">
			<label class="form-label text-end" for="login-dlg-txt-pwd">{{i18n.lblPassword}}</label>
			<input id="login-dlg-txt-pwd" type="password" class="form-control" aria-describedby="login-dlg-txt-pwd-fb" placeholder="{{i18n.phPassword}}" required>
			<div id="login-dlg-txt-pwd-fb" class="invalid-feedback">
				{{i18n.fbPassword}}
			</div>
		</div>
	</div>
</form>
{{> partials/_DialogFooterDyn dlgScope='login-dlg'}}
{{/partials/_DialogModal}}