<div class="modal fade" id="msgbox-dlg" tabindex="-1" aria-labelledby="msgbox-dlg-title" data-bs-backdrop="static" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><em class="msgbox-dlg-icon fs-3 bi pe-2 d-none" aria-hidden="true"></em><span id="msgbox-dlg-title"></span></h5>
				{{> partials/_DialogClose}}
			</div>
			<div class="modal-body">
				<p class="msgbox-dlg-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" data-btn-id="close" class="btn btn-msgbox btn-secondary" data-bs-dismiss="modal">{{_ 'Close'}}</button>
				<button type="button" data-btn-id="ok" class="btn btn-msgbox btn-primary d-none" aria-hidden="true" data-bs-dismiss="modal">{{_ 'Ok'}}</button>
				<button type="button" data-btn-id="yes" class="btn btn-msgbox btn-success d-none" aria-hidden="true" data-bs-dismiss="modal">{{_ 'Yes'}}</button>
				<button type="button" data-btn-id="no" class="btn btn-msgbox btn-danger d-none" aria-hidden="true" data-bs-dismiss="modal">{{_ 'No'}}</button>
				<button type="button" data-btn-id="abort" class="btn btn-msgbox btn-danger d-none" aria-hidden="true" data-bs-dismiss="modal">{{_ 'Abort'}}</button>
				<button type="button" data-btn-id="cancel" class="btn btn-msgbox btn-secondary d-none" aria-hidden="true" data-bs-dismiss="modal">{{_ 'Cancel'}}</button>
			</div>
		</div>
	</div>
</div>