<!doctype html>
<html lang="{{locale}}">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	{{useLocale}}
	{{setupEnv}}
	{{#if extensionPoint}}
	<link href="{{extensionPoint}}.css" type="text/css" rel="stylesheet">
	{{/if}}
</head>

<body>
	<article id="main" class="container-fluid py-4 px-3 d-flex flex-column vh-100 overflow-hidden">
		<h1 class="d-none"><span class="silo-title">{{title}}</span> {{> partials/LocaleSwitch}}</h1>

		<section id="top" class="d-none border border-1 rounded navbar py-2 px-3 my-2 bg-light flex-shrink-0">
			<div class="row row-cols-auto flex-grow-1">
				{{> partials/LangManager}}
				{{> partials/ToolsMenu}}
				{{> partials/AuthModule}}
				<div class="silo-auth text-end col-8 d-none" aria-hidden="true">
					<span id="silo-auth-info"></span>
					{{!-- <button id="silo-auth-btn-logout" type="button" class="btn btn-outline-primary">Logout</button> --}}
					<a id="silo-auth-btn-logout" href="#main" class="btn btn-outline-primary">{{_ 'Logout'}}</a>
				</div>
			</div>
		</section>

		<section class="row row-cols-2 silo-auth flex-grow-1 overflow-hidden">
			<div class="col-4 mh-100 overflow-auto" style="min-width: 20em">
				<nav id="silo-nav" class="silo-auth d-none" aria-hidden="true"></nav>
			</div>
			<div class="col-8 mh-100 overflow-auto" style="min-width: 30em;">
				<div id="grain-edit" class="silo-auth d-none" aria-hidden="true"></div>
			</div>
		</section>
	</article>
	{{> partials/GrainNewDialog}}
	{{> partials/FileNewDialog}}
	{{> partials/GrainPicker}}
	{{> partials/SiloNaviMenu}}
	{{> partials/InputDialog}}
	{{> partials/GrainSecurityDialog}}
	{{> partials/MsgBox}}
	{{> partials/TaskLayer}}
</body>

</html>